@font-face {
    font-family: "Cormorant Garamond";
    src: url(/assets/fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf) format(tff);
    font-style: normal;
}
@font-face {
    font-family: "Cormorant Garamond";
    src: url(/assets/fonts/Cormorant_Garamond/CormorantGaramond-SemiBold.ttf) format(tff);
    font-style: normal;
}
@font-face {
    font-family: "Cormorant Garamond";
    src: url(/assets/fonts/Cormorant_Garamond/CormorantGaramond-Medium.ttf) format(tff);
    font-style: normal;
}

